# Ignore Python byte-code files
*.pyc
__pycache__/

# Ignore environment-specific settings
# .env

# Ignore Python virtual environment
venv/
env/
*.venv/
*.env/

# Ignore system and IDE files
.DS_Store
Thumbs.db
.vscode/
*.sublime*
*.pydevproject
*.idea/
